# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.ipch
*.tlog
*.recipe
*.iobj
*.pdb
*.ipdb
x64/Debug/conf.txt
x64/Release/overlay.conf
x64/Debug/offsets.ini
x64/Debug/overlay.ini
x64/Release/offsets.ini
x64/Release/overlay.ini
.vs/Dota2Overlay-3.0/v16/.suo
.vs/Dota2Overlay-3.0/v16/Browse.VC.db
.vs/Dota2Overlay-3.0/v16/Browse.VC.db-shm
.vs/Dota2Overlay-3.0/v16/Browse.VC.db-wal
.vs/Dota2Overlay-3.0/v16/Browse.VC.opendb
x64/Release/Dota2Overlay-3.0_x64.zip
*.ilk
*.log
*.idb
Dota2Overlay-3.0/x64/Release/Dota2Overlay-2.0.vcxproj.FileListAbsolute.txt
Dota2Overlay-3.0/x64/Release/Dota2Overlay-3.0.vcxproj.FileListAbsolute.txt
.vs/Dota2Overlay-3.0/v17/Browse.VC.opendb
.vs/Dota2Overlay-3.0/v17/Browse.VC.db-wal
.vs/Dota2Overlay-3.0/v17/Browse.VC.db-shm
.vs/Dota2Overlay-3.0/v17/Browse.VC.db
.vs/Dota2Overlay-3.0/v17/.suo
