# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.tlog
.vs/Dota2Overlay-2.0/v16/.suo
.vs/Dota2Overlay-2.0/v16/Browse.VC.db
Dota2Overlay-2.0/x64/Debug/Dota2Overlay-2.0.exe.recipe
Dota2Overlay-2.0/x64/Debug/Dota2Overlay-2.0.log
Dota2Overlay-2.0/x64/Debug/vc142.idb
Dota2Overlay-2.0/x64/Debug/vc142.pdb
Dota2Overlay-2.0/x64/Release/Dota2Overlay-2.0.exe.recipe
Dota2Overlay-2.0/x64/Release/Dota2Overlay-2.0.log
Dota2Overlay-2.0/x64/Release/vc142.pdb
x64/Debug/Dota2Overlay-2.0.ilk
x64/Debug/Dota2Overlay-2.0.pdb
x64/Release/Dota2Overlay-2.0.iobj
x64/Release/Dota2Overlay-2.0.ipdb
x64/Release/Dota2Overlay-2.0.pdb
/.vs/Dota2Overlay-2.0/v16/Browse.VC.opendb
/.vs/Dota2Overlay-2.0/v16/Browse.VC.db-wal
/.vs/Dota2Overlay-2.0/v16/Browse.VC.db-shm
Dota2Overlay-2.0/x64/Debug/Dota2Overlay-2.0.Build.CppClean.log
Dota2Overlay-2.0/x64/Debug/Dota2Overlay-2.0.vcxproj.FileListAbsolute.txt
Dota2Overlay-2.0/Release/Dota2Overlay-2.0_x86.Build.CppClean.log
*.recipe
Dota2Overlay-2.0/x64/Release/Dota2Overlay-2.0.vcxproj.FileListAbsolute.txt
Dota2Overlay-2.0/x64/Release/Dota2Overlay-2.0.Build.CppClean.log
Dota2Overlay-2.0/Release/Dota2Overlay-2.0.vcxproj.FileListAbsolute.txt
Dota2Overlay-2.0/Release/Dota2Overlay-2.0.log
*.iobj
*.pdb
*.ipdb
x64/Debug/conf.txt
Dota2Overlay-2.0/conf.txt
Dota2Overlay-2.0/x64/Release/Dota2Overlay-2.0_x64.Build.CppClean.log
x64/Release/overlay.conf
Dota2Overlay-2.0/overlay.conf
Dota2Overlay-2.0/x64/Debug/Dota2Overlay-2.0.ilk
x64/Debug/offsets.ini
x64/Debug/overlay.ini
x64/Release/offsets.ini
x64/Release/overlay.ini
.vs/Dota2Overlay-3.0/v16/.suo
.vs/Dota2Overlay-3.0/v16/Browse.VC.db
.vs/Dota2Overlay-3.0/v16/Browse.VC.db-shm
.vs/Dota2Overlay-3.0/v16/Browse.VC.db-wal
.vs/Dota2Overlay-3.0/v16/Browse.VC.opendb
Dota2Overlay-2.0/x64/Release/Dota2Overlay-3.0_x64.Build.CppClean.log
Dota2Overlay-2.0/overlay.ini
Dota2Overlay-2.0/overlay.ini
x64/Release/Dota2Overlay-3.0_x64.zip
*.ilk
*.log
*.idb
Dota2Overlay-3.0/x64/Release/Dota2Overlay-2.0.vcxproj.FileListAbsolute.txt
Dota2Overlay-3.0/x64/Release/Dota2Overlay-3.0.vcxproj.FileListAbsolute.txt
